# Only for Docker Deployment

BOT_TOKEN=6188497507:AAEBx-nyJ7vlhcfVhQvM5ZPTO173cexLW8U # Get it from @botfather

API_ID=15143166

API_HASH=0a84f7d4523b9b7b729feb949cbe9ab1

SESSION_STRING=BQDnEP4AlnDmgjZFJc-2rOFzgeB3o1xGgDIt4sQebj5kgbn5wXMRbFAy1NCWK-gTz8vd9gbOOKPtJJLNO8XdAxi6fYunc742jQ0wgzDG4GQV72LUoJuoTBGo-KRgJxhMM8HKLW0rzAxvkHlwVRMysALPPBTvFZbTm6Bjj5QNfWVJ0y33QMeg6-E6Y7qLYun0DNdKOJE5dI2a_EKXc2gjAYCJl05DQHPzeEd5PxloAXLtDWU7XUTD6-_pvwggUppPIxpWgfjozoGQqgK5w5WMjEow0v0IZRQrSUZkAZfl_T-PZFUUyyIu-HZgu5043E77HyQdrDgSmXLKaINlkOviZ05C5cM86QAAAAFwse-_AA # Check Readme to generate sessions

USERBOT_PREFIX=.

SUDO_USERS_ID=5330133941, 5838967403 # Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1001824654286

GBAN_LOG_GROUP_ID=-1001824654286

FMUTE_LOG_GROUP_ID=-1001824654286

MESSAGE_DUMP_CHAT=-1001824654286

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=mongodb+srv://valamroi:valamroi@valamroi.bsmlrfe.mongodb.net/?retryWrites=true&w=majority

ARQ_API_URL=https://arq.hamker.in# Leave it like this

ARQ_API_KEY=COZVFZ-RCCBGX-OKOLCU-MVSXRE-ARQ # Get it from @ARQRobot

LOG_MENTIONS=0 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

PM_PERMIT=0 # fill 0 to disable it
