# Only for Docker Deployment

BOT_TOKEN=6188497507:AAEBx-nyJ7vlhcfVhQvM5ZPTO173cexLW8U # Get it from @botfather

API_ID=20021515

API_HASH=af68393642cbc8e82ae90b34e7360aa2

SESSION_STRING=BQExgQsAOqkOg5UVEsdKj3Fp0GbBHWqwqRGwsLIbWl9CWb3kXx7UvamOIJDAmpAnqJkCp0b6u86ckBtTxRFp3TtnU7K_CV8jvy5X_oVZ7Oe7g9ZjBT5i_JNV8ne5WvAWHKh6CcO02qEPdZ3IUFiglC6OhtXPucGa9-yBWWzha6fyEhmvKPlaMwbCxnYzvgD83Py7dH9Q06Dsoo84Dkyi78gxb_aVV7yq7vCG0rAvqSus1knhqEfxJkODPLo_fOmqkJaqZ1zDeEw2fyq873yQhtyY-CXOswvkl0oPwynk_NeYRgTeB9QXsdn7LvIf883jzlMmYgW_ogTMO6PcFCS4N6Gg3A822wAAAAGJqZ8pAA # Check Readme to generate sessions

USERBOT_PREFIX=.

SUDO_USERS_ID=5330133941, 5838967403 # Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1001824654286

GBAN_LOG_GROUP_ID=-1001824654286

FMUTE_LOG_GROUP_ID=-1001824654286

MESSAGE_DUMP_CHAT=-1001824654286

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=mongodb+srv://valamroi:valamroi@valamroi.bsmlrfe.mongodb.net/?retryWrites=true&w=majority

ARQ_API_URL=https://arq.hamker.in# Leave it like this

ARQ_API_KEY=COZVFZ-RCCBGX-OKOLCU-MVSXRE-ARQ # Get it from @ARQRobot

LOG_MENTIONS=0 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

PM_PERMIT=0 # fill 0 to disable it
